body {background-image:url("Assets/bg.png");}
#Header{background-color: whitesmoke; font-size: 56; font-family: fantasy; text-align: center;}
#Links{margin-left: 600;margin-right: 200; margin-top: 70; background-color: black; color: white;text-align: center;}

.table{display: table;}
 
#horizontal-list li{display: inline;}

#Comic{background-color: whitesmoke; margin-left: 200;margin-right: 200; margin-top: 50;}